@model ASP_IDENTITY.Models.AddSponsor

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/RegisterStyle.css" rel="stylesheet">

<div class="container">

    <h2>Delete</h2>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>AddSponsor</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.sponsorImage)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.sponsorImage)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.sponsorTittle)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.sponsorTittle)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.sponsorContent)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.sponsorContent)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</div>